* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.block-saltan {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
    _border: 3px solid black;
    _background-color: rgba(250, 235, 215, 0.521);
}

.scroll-text-saltan {
    width: 100%;
    border: 2px solid goldenrod;
    margin: 0 auto;
    _text-align: center;
}

.small-block {
    padding-bottom: 30px;
}

.line-gold{
    width: 80%;
    padding-left: 20%;
    _background-color: aquamarine;
}

.small-block p {
    width: 70%;
    margin: 0 auto;
    font-size: 1rem;
    font-family: 'Comfortaa', cursive;
    letter-spacing: 1px;
    line-height: 1.5;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.saltan-title {
    _background-attachment: fixed fixed;
    background-color: white;
    _margin-top: 50px;
    _padding-top: 30px;
    position: relative;
    text-align: center;
}

.saltan-title img {
    width: 150px;
    _padding-left: 30%;
}

.saltan-title h2 {
    _margin-top: 60px;
    font-family: 'Bad Script', cursive;
    font-size: 1.2rem;
    color: goldenrod;
    font-weight: 800;
    _text-align: center;
    padding: 10px 20px;
    _margin-left: 15px;
    background-color: white;
}

p.arr a{
    color: goldenrod;
    _padding-left: 50%;
}

p.arr a:hover{
    color: seagreen;
}

p.arr{
    text-align: right;
    color: goldenrod;
}
article{
    _width: 70%;
    margin: 0 auto;
    padding-left: 10%;
}

@media screen and (max-width: 1350px){
    .saltan-title h2{
        font-size: 1rem;
    }
    .line-gold{
        width: 70%;
    }
}
@media screen and (max-width: 1200px){
    .saltan-title h2{
        font-size: 0.8rem;
    }
    .small-block p{
        font-size: 0.8rem;
    }
    .line-gold{
        width: 60%;
    }
}

@media screen and (max-width: 1000px){
    .saltan-title h2{
        font-size: 0.7rem;
    }
    .small-block p{
        font-size: 0.7rem;
    }
    .saltan-title img{
        width: 100px;
    }
    .line-gold{
        width: 60%;
    }
}

@media screen and (max-width: 800px){
    .saltan-title h2{
        font-size: 0.6rem;
    }
    .small-block p{
        font-size: 0.6rem;
    }
    .saltan-title img{
        width: 60px;
    }
    .small-block img:line-gold{
        width: 70px;
    }
}